* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: calc(15px + 0.390625vw);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input {
  border: none;
  outline: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.28) 0 3px 8px;
}

.container > .item {
  border-bottom: 0.5px solid #d3d3d3;
}

.container .item:nth-child(1) {
  padding: 10px 20px;
}

.item .task-adder-input {
  padding: 8px 20px;
  font-size: 0.85rem;
  width: 100%;
}

.task-content input {
  width: auto;
  margin-right: 10px;
}

.item .task-adder-input:focus {
  background-color: #e9e9ed;
}

.item .task-adder-input::placeholder {
  font-style: italic;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border-bottom: 0.5px solid #d3d3d3;
}

.task:last-child {
  border-bottom: 0;
}

.task .dots-icon,
.trash-icon {
  color: #a1a1a1;
  cursor: move;
}

.task .trash-icon {
  display: none;
}

.dots-icon.active {
  display: none;
}

.trash-icon.active {
  display: block;
  cursor: pointer;
}

.trash-icon.active:hover {
  color: #f00;
}

.tasks-container .task-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.task-content .task-value {
  font-size: 0.85rem;
  width: 100%;
  padding: 10px 0;
  outline: none;
  cursor: text;
  background-color: transparent;
}

.task.active {
  background-color: #ffc;
}

.item .clear-all-btn {
  width: 100%;
  padding: 8px 12px;
  font-size: 0.8rem;
  border-radius: 0;
  border: none;
  color: #595959;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 60%;
  }
}
